<!doctype html>
<html lang="en" dir="ltr">
  <head><base href="/">
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>{% block title %}{{ title | striptags }}{% endblock %}</title>
      
      <!-- Favicon -->
      {% block favicon %}
      <link rel="shortcut icon" href="{{ (favicon or '/assets/frappe/images/frappe-favicon.svg') | abs_url }}" type="image/x-icon">
      <link href="{{ (favicon or '/assets/frappe/images/frappe-favicon.svg') | abs_url }}" rel="apple-touch-icon" sizes="180x180"/>
      <link href="{{ (favicon or '/assets/frappe/images/frappe-favicon.svg') | abs_url }}" rel="icon" sizes="32x32" type="image/x-icon"/>
      <link href="{{ (favicon or '/assets/frappe/images/frappe-favicon.svg') | abs_url }}" rel="icon" sizes="16x16" type="image/x-icon"/>
      {% endblock %}
      
      <!-- Library / Plugin Css Build -->
      <link rel="stylesheet" href="assets/realtor_network/dist/css/core/libs.min.css">
      
      <!-- Aos Animation Css -->
      <link rel="stylesheet" href="assets/realtor_network/dist/vendor/aos/dist/aos.css">
      
      <!-- Hope Ui Design System Css -->
      <link rel="stylesheet" href="assets/realtor_network/dist/css/hope-ui.min.css?v=4.0.0">
      
      <!-- Custom Css -->
      <link rel="stylesheet" href="assets/realtor_network/dist/css/custom.min.css?v=4.0.0">
      
      <!-- Dark Css -->
      <link rel="stylesheet" href="assets/realtor_network/dist/css/dark.min.css">
      
      <!-- Customizer Css -->
      <link rel="stylesheet" href="assets/realtor_network/dist/css/customizer.min.css">
      
      <!-- RTL Css -->
      <link rel="stylesheet" href="assets/realtor_network/dist/css/rtl.min.css">

  <style>
    /* Apply 90% zoom effect to the entire page */
    body {
      zoom: 0.9; /* Non-standard but works in Chrome/Edge */
    }

    /* Fallback for Firefox (which doesn't support 'zoom') */
    @supports not (zoom: 1) {
      html {
        transform: scale(0.9);
        transform-origin: 0 0;
        width: 111.11%; /* Compensates for scaling */
      }
      body {
        overflow-x: hidden; /* Prevents horizontal scroll */
      }
    }
  </style>


      <!-- FRAPPE RESOURCES HEAD -->
      <script>
        window.frappe = {};
        frappe.ready_events = [];
        frappe.ready = function(fn) {
          frappe.ready_events.push(fn);
        }
        window.dev_server = {{ dev_server }};
        window.socketio_port = {{ (frappe.socketio_port or 'null') }};
      </script>
      <!-- FRAPPE RESOURCES HEAD -->
      
      
  </head>

    {% block bodynav_link %}
  <body class="  ">
    
    {% include "templates/includes/sidebar.html" %}

    <main class="main-content">
    {% include "templates/includes/nav.html" %}

    {% endblock %}
  

    {% block content %}
    {% endblock %}

    {% block bodyfooter_link %}
      </div>
      <div class="btn-download">
          <a class="btn btn-success px-3 py-2" href="#" target="_blank" >
              <svg class="icon-24"  width="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path opacity="0.4" d="M17.554 7.29614C20.005 7.29614 22 9.35594 22 11.8876V16.9199C22 19.4453 20.01 21.5 17.564 21.5L6.448 21.5C3.996 21.5 2 19.4412 2 16.9096V11.8773C2 9.35181 3.991 7.29614 6.438 7.29614H7.378L17.554 7.29614Z" fill="currentColor"></path>
                  <path d="M12.5464 16.0374L15.4554 13.0695C15.7554 12.7627 15.7554 12.2691 15.4534 11.9634C15.1514 11.6587 14.6644 11.6597 14.3644 11.9654L12.7714 13.5905L12.7714 3.2821C12.7714 2.85042 12.4264 2.5 12.0004 2.5C11.5754 2.5 11.2314 2.85042 11.2314 3.2821L11.2314 13.5905L9.63742 11.9654C9.33742 11.6597 8.85043 11.6587 8.54843 11.9634C8.39743 12.1168 8.32142 12.3168 8.32142 12.518C8.32142 12.717 8.39743 12.9171 8.54643 13.0695L11.4554 16.0374C11.6004 16.1847 11.7964 16.268 12.0004 16.268C12.2054 16.268 12.4014 16.1847 12.5464 16.0374Z" fill="currentColor"></path>
              </svg>
          </a>
      </div>

      <!-- Footer Section Start -->
    {% include "templates/includes/footer.html" %}
      <!-- Footer Section End -->
    </main>
    {% if "Sales User" in user_roles %}
     <a class="btn btn-fixed-end btn-secondary btn-icon btn-dashboard" href="/apps">
      Switch to Desk
    </a>
    {% endif %}
    <!-- Wrapper End-->
    
    {% if realtor %}
    {% include "templates/includes/referral_modal.html" %}
    % endif %}
    {% endblock %}


    <!-- Library Bundle Script -->
    <script src="assets/realtor_network/dist/js/core/libs.min.js"></script>
    
    <!-- External Library Bundle Script -->
    <script src="assets/realtor_network/dist/js/core/external.min.js"></script>
    
    <!-- Widgetchart Script -->
    <script src="assets/realtor_network/dist/js/charts/widgetcharts.js"></script>
    
    <!-- mapchart Script -->
    <script src="assets/realtor_network/dist/js/charts/vectore-chart.js"></script>
    <script src="assets/realtor_network/dist/js/charts/dashboard.js" ></script>
    
    <!-- fslightbox Script -->
    <script src="assets/realtor_network/dist/js/plugins/fslightbox.js"></script>
    
    <!-- Settings Script -->
    <script src="assets/realtor_network/dist/js/plugins/setting.js"></script>
    
    <!-- Slider-tab Script -->
    <script src="assets/realtor_network/dist/js/plugins/slider-tabs.js"></script>
    
    <!-- Form Wizard Script -->
    <script src="assets/realtor_network/dist/js/plugins/form-wizard.js"></script>
    
    <!-- AOS Animation Plugin-->
    <script src="assets/realtor_network/dist/vendor/aos/dist/aos.js"></script>
    
    <!-- App Script -->
    <script src="assets/realtor_network/dist/js/hope-ui.js" defer></script>

    <!-- frappe resources -->
    <script>frappe.csrf_token = "{{frappe.session.csrf_token}}";</script>
    <script>
      window.csrf_token = '{{ frappe.session.csrf_token }}'
    </script>

    
  </body>
</html>