{% extends "templates/layout.html" %}

{%- block title -%}
{{_("2nd Generation")}}
{%- endblock -%}


{% block content %}
<div class="conatiner-fluid content-inner mt-n5 py-0">
   <div class="row">
      <div class="col-sm-12">
         <div class="card">
            <div class="card-header d-flex justify-content-between">
               <div class="header-title">
                  <h5 class="card-title">Team Mates List</h5>
               </div>
               <div class="">
                  <h6>
                  <span>All Team Mates: </span>
                  <span> {{ team1_countactive }} </span>               
                  </h6>
               </div>
            </div>
            <div class="card-body px-0">
               <div class="table-responsive">
                  <table id="datatable" class="table table-striped" data-toggle="data-table">
                     <thead>
                        <tr class="ligth">
                           <th></th>
                           <th>Date of Reg</th>
                           <th>Name</th>
                           <th>Mobile No</th>
                           <th>Email</th>
                           <th>Referred by</th>
                           <th>Status</th>
                        </tr>
                     </thead>
                     <tbody>
                        {% if sales_persons %}
                         {% for sales_person in sales_persons %}
                        <tr>
                           <td><span class="badge bg-primary rounded-circle">-</span></td>
                           <td>{{ frappe.format_date(sales_person.creation, "dd/MM/yyyy") }}</td>
                           <td>{{ sales_person.custom_full_name }}</td>
                           <td>{{ sales_person.custom_mobile_no }}</td>
                           <td>{{ sales_person.custom_email }}</td>
                           <td >{{ sales_person.custom_upline_2 }}%</td>
                           <td>
                              {% if sales_person.enabled == 1 %}
                              <span class="badge bg-success">Active</span>
                              {% else %}
                              <span class="badge bg-danger">Inactive</span>
                              {% endif %}
                           </td>
                        </tr>
                         {% endfor %}
                        {% endif %}
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}

